<!DOCTYPE html>

<html>
   <head>
      <title>CCAPE Programmer Portfolio</title>

      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>CCAPE Programmer Portfolio</h1>
    <hr />
    <div class="container">
      <ul>
        <li><a href="/timestamp">Timestamp Microservice</a></li>
        <li><a href="/requestHeaderParser">Reques Header Parser</a></li>
        <li><a href="/urlShortener">URL Shortener</a></li>

      </ul>

    </div>
    <div class="footer">
      <p>
          By <a href="https://github.com/ccap86/ccape-programmer-portfolio">CCAPE</a>
      </p>
    </div>
  </body>
</html>
